# Archivos de bytecode
*.class

# Directorios de construcción
target/
bin/
out/

# Archivos de paquete
*.jar
*.war
*.ear

# Configuración de IDE
.vscode/
.idea/
*.iml
.classpath
.project
.settings/
org.eclipse.*.prefs
.metadata/

# Archivos de registro
*.log

# Archivos temporales
*.tmp
*.swp
*.bak

# Archivos del sistema
*.DS_Store
Thumbs.db

# Archivos de configuración de Maven
/.mvn/

# Archivos de configuración de Gradle
.gradle/
build/
